/*  Declare scss variables here and add
    @import "src/utilities/variables"
    to scss files to use them
*/
$navbar-height: 64px;
$primary-color: #053b50;
$secondary-color: #176b87;
$accent-color: #64ccc5;
$background-color: #eeeeee;
$trim-color: #c0c0c0;
