<div class="container justified">
    <img class="image" routerLink="/home" src="./assets/img/SharkWizzLogoBlack.png" alt="Logo Projet" />

    <div class="button-container">
        <button class="button" mat-button routerLink="/joindre-partie">
            Joindre une partie
            <mat-icon class="icon">sports_esports</mat-icon>
        </button>
        <button class="button" mat-button routerLink="/select-game">
            Créer une partie
            <mat-icon class="icon">add</mat-icon>
        </button>
        <button class="button" mat-button routerLink="/login-admin">
            Administrer les jeux
            <mat-icon class="icon">admin_panel_settings</mat-icon>
        </button>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 108</h4>
        <div class="members">
            <span>Luka Petrovic</span>, <span>Fatima Zahra Diker</span>, <span>Alexandre Provost-Cardin</span>, <span>Simon Cloutier</span>,
            <span>Julion Malek</span>,
            <span>Axelle Stevia Letieu Tchemeni</span>
        </div>
    </footer>
</div>
