<mat-sidenav-container class="sidebar-container">
    <mat-sidenav #sidebar mode="side">
        <div class="sidebar">
            <button mat-button class="button" routerLink="home" routerLinkActive="active">
                Accueil
                <mat-icon class="icon">home</mat-icon>
            </button>
            <button mat-button class="button" routerLink="select-game" routerLinkActive="active">
                Créer une partie
                <mat-icon class="icon">add</mat-icon>
            </button>
            <button mat-button class="button" routerLinkActive="active">
                Joindre une partie
                <mat-icon class="icon">sports_esports</mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav #chat mode="side" position="end">
        <app-chat-area *ngIf="isChatOpen"></app-chat-area>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
